table,th,td{

    color: rgb(17, 17, 15);
    font-weight: 400;
 
    color: brown;
    border: 5px solid rgb(11, 76, 228);

    width: 100px;
    height: 50px;


}

th,td{
    border-radius: 100px;
    border: dotted red;
    align-items: center;
    box-align: center;
}